@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
header {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.ph_profil {
  background: #fafafa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 4rem;
  margin: 0 20px;
}
.ph_profil img {
  width: 12.5rem;
  height: 12.5rem;
  object-fit: cover;
  border-radius: 50%;
}
.ph_profil h2 {
  color: #D3573C;
  font-size: 64px;
  font-weight: 400;
}
.ph_profil button {
  background: #901C1C;
  width: 170px;
  height: 69px;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  bottom: 32%;
}
.ph_profil_header {
  margin: 0;
}

.ph_city {
  color: #901C1C;
  font-size: 24px;
  font-weight: 400;
}

.ph_infos {
  text-align: left;
}
.ph_infos h2 {
  font-size: 64px;
  font-weight: 400;
  margin: 0 0 1rem 0;
}
.ph_infos .ph_city {
  font-size: 24px;
  margin: 0 0 1rem 0;
}
.ph_infos .ph_tagline {
  font-size: 18px;
  color: #525252;
  margin: 0 0 1rem 0;
}
.ph_infos .ph-filter {
  justify-content: flex-start;
  padding: 0;
}

#box {
  background: #DB8876;
  width: 18rem;
  height: 4.375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: -1%;
  right: 2.5rem;
  padding: 0 2.1875rem;
  font-size: 1.2em;
  font-weight: 500;
  border-radius: 0.3125rem;
}

.sort-text {
  font-size: 18px;
  font-weight: 700;
}

#sort-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.ph_media {
  width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.ph_work_elt {
  margin: 2em;
  color: #901C1C;
}

.ph_work_elt_text {
  display: flex;
  margin: 0;
  justify-content: space-between;
  align-items: center;
}
.ph_work_elt_text .ph_work_title {
  font-weight: 400;
  font-size: 1.1em;
}
.ph_work_elt_text i {
  width: 17.5px;
  color: #901C1C;
}

* {
  font-family: "DM Sans", sans-serif;
}

body {
  margin-left: 2rem;
  margin-right: 2rem;
}

h1 {
  color: #901C1C;
  font-weight: 400;
  font-size: 1.8em;
}

header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
header nav ul {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 5rem;
  margin-top: 7rem;
  padding: 0;
  width: 100%;
}

article {
  margin: 0.5rem;
  padding: 0.3rem;
  text-align: center;
  width: 22rem;
}

ul li {
  border: 0.5px solid #c4c4c4;
  border-radius: 11px;
  color: #901C1C;
  font-size: 14px;
  font-weight: 500;
  margin: 0 0.1875rem;
  padding: 0.0625rem 0.375rem;
  list-style: none;
  cursor: pointer;
}
ul li.activated {
  color: white;
  background: #901C1C;
  border: 0.5px solid #901C1C;
}

.contenuBtn {
  font-size: 18px;
  font-weight: 700;
  background: #DB8876;
  border-radius: 5px;
  width: 182px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  padding: 5px;
  position: fixed;
  top: 2%;
  text-decoration: none;
  color: black;
}

.logo {
  width: 200px;
  height: 50px;
}

.filtres {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.filtres a {
  border: 0.5px solid #c4c4c4;
  border-radius: 11px;
  font-size: 14px;
  font-weight: 500;
  color: #901C1C;
  text-align: center;
}

section article {
  width: 30%;
}
section article a {
  text-decoration: none;
  color: #D3573C;
}
section img {
  width: 12.5rem;
  height: 12.5rem;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.name {
  margin-bottom: 0;
  font-size: 36px;
  font-weight: 400;
}

.location {
  color: #901C1C;
  margin: 0.2rem;
  font-size: 13px;
}

.tagline {
  margin: 0;
  font-size: 10px;
}

.price {
  color: #757575;
  margin: 0;
  font-size: 9px;
}

.filter {
  display: flex;
  justify-content: center;
  margin-right: 3rem;
  margin-top: 0.5rem;
}

/*# sourceMappingURL=style.css.map */
