header {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.ph_profil {
    background: #fafafa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 4rem;
    margin: 0 20px;

    img {
        width: 12.5rem;
        height: 12.5rem;
        object-fit: cover;
        border-radius: 50%;
    }

    h2 {
        color: #D3573C;
        font-size: 64px;
        font-weight: 400;
    }

    button {
        background: #901C1C;
        width: 170px;
        height: 69px;
        color: white;
        border-radius: 5px;
        border: none;
        font-size: 20px;
        font-weight: 700;
        cursor: pointer;
        position: relative;
        bottom: 32%;
    }

    &_header {
        margin: 0;
    }
}

.ph_city {
    color: #901C1C;
    font-size: 24px;
    font-weight: 400;
}

.ph_infos {
    text-align: left;
    h2 {
        font-size: 64px;
        font-weight: 400;
        margin: 0 0 1rem 0;
    }

    .ph_city {
        font-size: 24px;
        margin: 0 0 1rem 0;
    }

    .ph_tagline {
        font-size: 18px;
        color: #525252;
        margin: 0 0 1rem 0;
    }

    .ph-filter {
        justify-content: flex-start;
        padding: 0;
    }
}

#box {
    background: #DB8876;
    width: 18rem;
    height: 4.375rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: -1%;
    right: 2.5rem;
    padding: 0 2.1875rem;
    font-size: 1.2em;
    font-weight: 500;
    border-radius: .3125rem;
}





.works-sort {
    display: flex;
    align-items: center;

    .sort-text {
        font-size: 1.2rem;
        font-weight: 700;
    }

    .sort-wrapper {
        display: flex;
        flex-wrap: wrap;
        margin-left: 1em;
    
        .sort-btn {
            background: #901C1C;
            color: white;
            width: 170px;
            height: 50px;
            border-radius: 5px;
            font-size: 18px;
            font-weight: 700;
        
            i {
                position: relative;
                right: -10%;
                bottom: -4%;
            }
        
        }
    
        &-open {
            display: none;
            flex-direction: column;
            margin: 0;
            padding: 0;
        }
    }
    
}


#ph_works {
    display: flex;
    flex-wrap: wrap;
}

.ph_media {
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.ph_work_elt {
    margin: 2em;
    color: #901C1C;
}

.ph_work_elt_text {
    display: flex;
    margin: 0;
    justify-content: space-between;
    align-items: center;

    .ph_work_title {
        font-weight: 400;
        font-size: 1.1em;
    }

    i {
        width: 17.5px;
        color: #901C1C;
    }
}

.lightbox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0%;
    width: 100%;
    height: 100%;
    background: white;
    
    img {
        padding: 0;
        width: 44%;
        height: 90%;
        object-fit: cover;
        margin-top: 1em;
    }

    

    div {
        width: 64%;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            text-align: left;
            color: #901C1C;
            font-weight: 400;
            font-size: 24px;
            width: 44%;
        }
    }

    .lightbox__prev, .lightbox__next {
        color: #901C1C;
        font-size: 3em;
    }

    .lightbox_close_icon {
        position: relative;
        top: -38%;
        color: #901C1C;
        font-size: 3em;
    }

}

.ph_form {
    display: none;
    background: #DB8876;
    padding: 2em;
    position: fixed;
    top: 2%;
    margin: auto;
    // display: flex;
    flex-direction: column;
    left: 25%;
    right: 25%;
    border-radius: 0.3em;
    box-shadow: 0px 0px 0px black;

    h1 {
        color: black;
    }

    label {
        color: #312E2E;
    }

    div {
        display: flex;
        flex-direction: column;
        margin: 1em;
    }

    #prenom, #nom, #email{
        height: 3em;
    }

    #message {
        height: 10em;
    }

    #envoyer {
        background: #901C1C;
        color: white;
        border: none;
        width: 10em;
        height: 3em;
        border-radius: 0.3em;
    }
}