@media (max-width: 415px) {

    body {
        margin-left: 0;
    }

    

    header.header {
        flex-direction: column;
        margin-top: 0%;
        margin-bottom: 0%;

        img.logo {
            width: 9.5em;
            position: relative;
            left: -12%;
        }

        a {
            position: relative;
            left: -22%;
        }

        nav {
            position: initial;

            span.phFilter[data-filter="portrait"], span.phFilter[data-filter="art"], span.phFilter[data-filter="fashion"], span.phFilter[data-filter="architecture"] {
                margin-bottom: 0.5em;
            }
        }
    }

    header.header a, header.header nav, main h1 {
        margin: 1em;
    }

    main {
        h1 {
            font-size: 1em;
            right: 0%;
            top: 1.5%;
        }
    }

    li.phFilter {
        font-size: 12px;
    }

    .photographers {
        margin-top: 2em;
        flex-direction: column;
        align-items: center;

        // .articlePh .name, .tagline {
        //     width: 18em;
        // }
    }

    .phHeader {
        flex-direction: row;
        justify-content: flex-start;
    }

    article.ph_profil {
        width: 90%;
        padding: 0;
        background: none;

        div.ph_infos {
        
            h2 {
                font-size: 36px;
                margin: 0;
                width: 87%;
            }
    
            .ph_city {
                font-size: 13px;
            }
    
            .ph_tagline {
                font-size: 13px;
            }

            .ph_city, .ph_tagline {
                margin: 0 0 0.2em;
            }
        }

        figure {
            width: 100px;
            height: 100px;
            margin: 0;
            position: absolute;
            top: 8%;
            right: 5%;
        }

        span.modal-btn {
            position: fixed;
            left: 28%;
            bottom: 2%;
            width: 9.5em;
            height: 2em;
        }
    }

    div.works-sort {
        display: none;
    }

    article.ph_work_elt {
        margin: 0;

        &:first-child {
            margin-top: 2em;
        }
    }

    div#box {
        display: none;
    }

    form.ph_form {
        top: 0%;
        left: initial;
        right: initial;
        width: 92%;
        height: 98.25%;
        padding: 0.5em 1em;

        h1#formPhName {
            font-size: 36px;
        }

        .form-close {
            font-size: 2em;
            top: 2%;
        }

        div {
            margin: 1.4em 0;
        }

        .modalBtn {
            position: relative;
            left: 25%;
            height: 3em;
            font-size: 18px;
        }
    }

    #lightbox {
        div.lightbox__container {
            // width: 289px;
            // height: 248px;
    
            .ph_media {
                width: 17em;
                max-height: 22em;
                margin-top: initial;
            }
        }
    }

    div.modalConfirm {
        top: 0%;
        left: initial;
        right: initial;
        width: 85%;
        height: 96.25%;
    }

}

@media (min-width: 700px) {

    body {
        margin-left: 2rem;
        margin-right: 2rem;
    }

}

@media (min-width: 415px) and (max-width: 1213px) {
    article.ph_profil span.modal-btn {
        bottom: 14%;
    }
}